body{
    background-color: rosybrown;
}

h1 {
    text-align: center;
    color: maroon;
    border: solid black 5px;
}

li {
    border: solid 1px black;
    display: inline-block;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    background-color: rgb(42, 76, 141);
}

ul {
    text-align: center;
}

#png1 {
    margin: auto;
    box-align: center;
    color: maroon;
    font-weight: bold;
}

.allsections {
    text-align: center;
}
.column1 {
    float: left;
    width: 33.33%;
    padding: 0px;
    color: maroon;
    font-weight: bold;
}

.column2 {
    float: left;
    width: 33.33%;
    padding: 0px;
    color: rgb(43, 41, 41);
    font-weight: bold;  
}

.column3 {
    float: left;
    width: 33.33%;
    padding: 0px;
    color: maroon;
    font-weight: bold;
}

#Resources {
    text-align: center;
    color: maroon;
    border: solid black 5px;  
} 
